:root {
	--color-primary: #13670b;
	--color-secondary: #9b000e;
	--color-light: white;
	--color-dark: #333;
	--color-pale-green: #555e4b;
	--color-gold: #d1b99a;
	--color-gray: #666;

	--font-title: 'RoundhandBT', Helvetica, Arial, Lucida, sans-serif;
	--font-text: 'Cairo', Helvetica, Arial, Lucida, sans-serif;
}
